.deck__item {
  background: white;
  color: #282c34;

  width: 65vw;
  max-width: 420px;
  height: 65vh;
  max-height: 684px;

  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);

  user-select: none;
}
