.deck {
  height: 100vh;
  width: 100vw;
  will-change: transform;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  position: absolute;
}

/* .deck__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
} */
