.App {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;

  background-image: url("../images/surface.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.App-link {
  color: #61dafb;
}
